.vscode
.DS_Store
*.pyc
__pycache__/
dist/
*.egg-info
*.egg
build
*.swp
*.toml
!pyproject.toml
!tests/fixtures/*.toml
*.gz
*.xz
*.zip
*.fasta
*.fa
*.gbff
*.csv
*.tsv
*.txt
*.log
*.vcf
changed_nodes
*.nh
*.nwk
*.pb
*.jsonl
*.json
!example/*.fasta
!example/*.jsonl.gz
!app_note/*.tsv
!app_note/logs*/*.log
!tests/test_data/*.fa
!tests/test_data/*.gbff
!tests/test_data/*.toml
