.vscode
.DS_Store
*.pyc
__pycache__/
dist/
*.egg-info
*.egg
build
*.swp
*.toml
!pyproject.toml
!tests/fixtures/*.toml
*.zip
*.fasta
*.fasta.xz
*.fa
*.fa.gz
*.fa.xz
*.gbff
*.tsv
*.tsv.gz
*.txt
*.log
*.vcf
*.vcf.gz
changed_nodes
*.nh
*.nwk
*.pb
*.pb.gz
*.jsonl
*.jsonl.gz
!example/*.fasta
!example/*.jsonl.gz